[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
flask-wtf = "*"
sklearn = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
